@import url("../../../css/global.css");

:root {
    --color-body: var(--color-black);
    --color-button-bg: #111;
    --color-button-txt: #f5f5f5;
    --gradient-button: linear-gradient(
        115deg,
        #4fcf70,
        #fad648,
        #a767e5,
        #12bcfe,
        #44ce7b
    );
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    --border-size: 3px;
    position: relative;
    background: var(--gradient-button);
    width: 200px;
    height: 60px;
    border-radius: 12px;
}

.button:hover {
    animation: button__animation 0.5s linear infinite;
}

@keyframes button__animation {
    100% {
        filter: hue-rotate(360deg);
    }
}

.button__actor {
    background-color: var(--color-button-bg);
    width: calc(100% - var(--border-size) * 2);
    height: calc(100% - var(--border-size) * 2);
    top: var(--border-size);
    left: var(--border-size);

    position: absolute;
    display: block;

    color: var(--color-button-txt);
    text-decoration: none;
    text-align: center;
    line-height: calc(60px - var(--border-size) * 2);
    border-radius: 12px;
}
