@import url("../../../css/global.css");

:root {
    --color-blue: #4070f4;
}

main {
    background-color: var(--color-blue);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: var(--color-white);

    display: flex;
    flex-direction: column;
    gap: 12px;

    min-width: 350px;
    max-width: 550px;
    width: 50%;
    padding: 10px 20px;

    border-radius: 10px;
    box-shadow: 0 5px 10px #00000050;
}

.skillbox__title {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 4px;
}

.skillbox__bar {
    background-color: var(--color-white-dark);
    width: 100%;
    height: 10px;
    border-radius: 5px;
}

.skillbox__bar__fill {
    background-color: var(--color-blue);
    position: relative;

    display: block;
    width: 10%;
    height: 100%;
    opacity: 0;

    border-radius: 5px;
    animation: skillbox__anim 0.5s ease forwards;
}

@keyframes skillbox__anim {
    0% {
        width: 0;
    }
    100% {
        opacity: 100%;
    }
}

.skillbox:nth-child(1) .skillbox__bar__fill {
    width: 75%;
}

.skillbox:nth-child(2) .skillbox__bar__fill {
    width: 60%;
    animation-delay: 0.1s;
}

.skillbox:nth-child(3) .skillbox__bar__fill {
    width: 70%;
    animation-delay: 0.2s;
}

.skillbox:nth-child(4) .skillbox__bar__fill {
    width: 45%;
    animation-delay: 0.3s;
}

.skillbox__bar__tooltip {
    background: var(--color-blue);
    position: absolute;
    right: 5px;
    top: -20px;
    padding: 2px 4px;

    color: var(--color-white);
    font-size: 12px;

    border-radius: 5px;
    transform: translate(50%);
}

.skillbox__bar__tooltip::before {
    background: var(--color-blue);
    content: "";

    z-index: -1;
    position: absolute;
    right: 50%;
    bottom: -2px;

    width: 8px;
    height: 8px;

    color: var(--color-white);
    font-size: 12px;
    transform: translate(50%) rotate(45deg);
}
