@import url("../../../css/global.css");

:root {
    --color-card-bg: #0d0d0d;
    --color-body: #e3f2fd;
    --color-info-bg: var(--color-card-bg);
    --color-info-txt: #fff;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    background-color: var(--color-card-bg);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 350px;
    padding: 20px 30px;
    aspect-ratio: 85 / 54;

    color: #fff;
    border-radius: 16px;
    box-shadow: 0 8px 5px #00000020;
}

.card__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card__logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.card__logo__wrapper {
    width: 80px;
    aspect-ratio: 1;
}

.card__logo span {
    font-size: 18px;
    white-space: nowrap;
}

.card__chip {
    width: 80px;
    height: 40px;
}

.card__logo img,
.card__chip img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.card__details {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.card__details h5 {
    font-size: 18px;
    line-height: 28px;
}

.card__details h6 {
    font-size: 12px;
}

.card__details__footer {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.card__details__validity h5 {
    text-align: right;
}
